<div id="<%= dom_id service %>">
  <p>
    <strong>Name:</strong>
    <%= service.name %>
  </p>

  <p>
    <strong>Gcp tag:</strong>
    <%= service.gcp_tag %>
  </p>

  <p>
    <strong>Priority:</strong>
    <%= service.priority %>
  </p>

  <p>
    <strong>Expected status:</strong>
    <%= service.expected_status %>
  </p>

  <p>
    <strong>Devconsole url:</strong>
    <%= service.devconsole_url %>
  </p>

  <p>
    <strong>Inventory item:</strong>
    <%= service.inventory_item_id %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= service.description %>
  </p>

  <p>
    <strong>Internal notes:</strong>
    <%= service.internal_notes %>
  </p>

</div>
