<div id="<%= dom_id folder %>">
  <p>
    <strong>Name:</strong>
    <%= folder.name %>
  </p>

  <p>
    <strong>Folder:</strong>
    <%= folder.folder_id %>
  </p>

  <p>
    <strong>Is org:</strong>
    <%= folder.is_org %>
  </p>

  <p>
    <strong>Parent:</strong>
    <%= folder.parent_id %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= folder.description %>
  </p>

  <p>
    <strong>Domain:</strong>
    <%= folder.domain %>
  </p>

  <p>
    <strong>Directory customer:</strong>
    <%= folder.directory_customer_id %>
  </p>

</div>
