<!-- This addon is creted in case I overwrite the index.html again :)

There's another theory which states that this has already happened ðŸ˜‰
-->
<h1><%= FOLDER_ICON %><%=@folders.count%>(*) Folders</h1>

<p>(*) Note: This counts both proper folders (<%=Folder.count_folders %>) and Organizations (<%=Folder.count_orgs %>) (which are root folders so they have all the dignity of folders).</p>

  <% @folders.each do |folder| %>
      -  <%=  link_to "âœï¸", edit_folder_path(folder)%>
      <%= render_folder(folder) %> (child of <%= render_parent_folder_by_folder_id(folder.parent_id) %>)<br/>
  <% end %>
