<%= form_with(model: label) do |form| %>
  <% if label.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(label.errors.count, "error") %> prohibited this label from being saved:</h2>

      <ul>
        <% label.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :gcp_k, style: "display: block" %>
    <%= form.text_field :gcp_k %>
  </div>

  <div>
    <%= form.label :gcp_val, style: "display: block" %>
    <%= form.text_field :gcp_val %>
  </div>

  <div>
    <%= form.label :labellable_id, style: "display: block" %>
    <%= form.number_field :labellable_id %>
  </div>

  <div>
    <%= form.label :labellable_type, style: "display: block" %>
    <%= form.text_field :labellable_type %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
