<div id="<%= dom_id label %>">
  <p>
    <strong>id k:</strong>
    <%= label.id %>
  </p>
  <p>
    <strong>Gcp k:</strong>
    <%= label.gcp_k %>
  </p>

  <p>
    <strong>Gcp val:</strong>
    <%= label.gcp_val %>
  </p>

  <p>
    <strong>Labellable:</strong>
    <%= label.labellable_id %>
  </p>

  <p>
    <strong>Labellable type:</strong>
    <%= label.labellable_type %>
  </p>

</div>
