<div id="<%= dom_id inventory_item %>">
  <p>
    <strong>Serialized ancestors:</strong>
    <%= inventory_item.serialized_ancestors %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= inventory_item.description %>
  </p>

  <p>
    <strong>Asset type:</strong>
    <%= inventory_item.asset_type %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= inventory_item.name %>
  </p>

  <p>
    <strong>Gcp update time:</strong>
    <%= inventory_item.gcp_update_time %>
  </p>

  <p>
    <strong>Resource location:</strong>
    <%= inventory_item.resource_location %>
  </p>

  <p>
    <strong>Resource discovery name:</strong>
    <%= inventory_item.resource_discovery_name %>
  </p>

  <p>
    <strong>Resource parent:</strong>
    <%= inventory_item.resource_parent %>
  </p>

</div>
