<div id="<%= dom_id vm %>">
  <p>
    <div class="small d-inline p-2 bg-primary text-white"><%= vm.ssh_command %></div>
  TODO: copy paste when click.
  </p>
  <p>
    <strong>Name:</strong>
    <span class="d-inline p-2 bg-success text-white">
      <%= vm.name %></span>

  </p>
  <p>
    <strong>External ip:</strong>
    <span class="d-inline p-2 bg-secondary text-white"><%= vm.external_ip %></span>
  </p>

 <p>
    <strong>Short Machine type:</strong>
    <span class="d-inline p-2 bg-dark text-white"><%= vm.short_machine_type %></span>
  </p>
 <p>
    <strong>Short Zone:</strong>
    <span class="d-inline p-2 bg-primary text-white"><%= vm.short_zone %></span>
  </p>

  <p>
    <strong>Description:</strong>
    <%= vm.description %>
  </p>

  <p>
    <strong>Internal notes:</strong>
    <%= vm.internal_notes %>
  </p>

  <p>
    <strong>Machine type:</strong>
    <%= vm.machine_type %>
  </p>

  <p>
    <strong>Internal ip:</strong>
    <%= vm.internal_ip %>
  </p>


  <p>
    <strong>Self link:</strong>
    <%= vm.self_link %>
  </p>

  <p>
    <strong>Zone:</strong>
    <%= vm.zone %>
  </p>

  <p>
    <strong>Disk1 size gb:</strong>
    <%= vm.disk1_size_gb %>
  </p>

  <p>
    <strong>Disk1 name:</strong>
    <%= vm.disk1_name %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= vm.status %>
  </p>

  <p>
    <strong>Is preemptible:</strong>
    <%= vm.is_preemptible %>
  </p>

  <p>
    <strong>Project:</strong>
    <%= vm.project_id %>
  </p>

</div>
