<div id="<%= dom_id vm %>">
  <p>
    <strong>Name:</strong>
    <%= vm.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= vm.description %>
  </p>

  <p>
    <strong>Internal notes:</strong>
    <%= vm.internal_notes %>
  </p>

  <p>
    <strong>Machine type:</strong>
    <%= vm.machine_type %>
  </p>

  <p>
    <strong>Internal ip:</strong>
    <%= vm.internal_ip %>
  </p>

  <p>
    <strong>External ip:</strong>
    <%= vm.external_ip %>
  </p>

  <p>
    <strong>Self link:</strong>
    <%= vm.self_link %>
  </p>

  <p>
    <strong>Zone:</strong>
    <%= vm.zone %>
  </p>

  <p>
    <strong>Disk1 size gb:</strong>
    <%= vm.disk1_size_gb %>
  </p>

  <p>
    <strong>Disk1 name:</strong>
    <%= vm.disk1_name %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= vm.status %>
  </p>

  <p>
    <strong>Is preemptible:</strong>
    <%= vm.is_preemptible %>
  </p>

  <p>
    <strong>Project:</strong>
    <%= vm.project_id %>
  </p>

</div>
