<div id="<%= dom_id billing_account %>">
  <p>
    <strong>Description:</strong>
    <%= billing_account.description %>
  </p>

  <p>
    <strong>Display name:</strong>
    <%= billing_account.display_name %>
  </p>

  <p>
    <strong>Master billing account:</strong>
    <%= billing_account.master_billing_account %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= billing_account.name %>
  </p>

  <p>
    <strong>Open:</strong>
    <%= billing_account.open %>
  </p>

  <p>
    <strong>Baid:</strong>
    <%= billing_account.baid %>
  </p>

</div>
