<div id="<%= dom_id project %>">
  <p>
    <strong>Project:</strong>
    <%= project.project_id %>
  </p>

  <p>
    <strong>Project number:</strong>
    <%= project.project_number %>
  </p>

  <p>
    <strong>Organization:</strong>
    <%= project.organization_id %>
  </p>

  <p>
    <strong>Parent:</strong>
    <%= project.parent_id %>
  </p>

  <p>
    <strong>Billing account:</strong>
    <%= project.billing_account_id %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= project.description %>
  </p>

  <p>
    <strong>Lifecycle state:</strong>
    <%= project.lifecycle_state %>
  </p>

  <p>
    <strong>Project name:</strong>
    <%= project.project_name %>
  </p>

  <p>
    <strong>Project creation time:</strong>
    <%= project.project_creation_time %>
  </p>

</div>
