<div id="<%= dom_id project %>">
  <p>
    <strong>Project:</strong>
    <%= project.project_id %>
  </p>

  <p>
    <strong>Project number:</strong>
    <%= project.project_number %>
  </p>

  <p>
    <strong>Organization:</strong>
    <%= project.organization_id %>
  </p>

  <p>
    <strong>Parent:</strong>
    <%= project.parent_id %>
  </p>

  <p>
    <strong>Bialling account:</strong>
    <%= project.bialling_account_id %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= project.description %>
  </p>

</div>
