<footer class="mastfoot mt-auto text-center">
  <hr class="my-4">
   <div class="inner">
     <p>
         <b><%= APP_NAME %></b>
         v<b><%= APP_VERSION %></b>
          @<%= HOSTNAME %>
          :: <%= render_db_with_emoji() %>
      </p>
    </div>
</footer>

  <!-- Jumbotron v5.0, docs for v4: https://getbootstrap.com/docs/4.0/components/jumbotron/
  <div class="p-5 text-center bg-warning">
     <footer class="mastfoot mt-auto">
    <hr class="my-4">
      <b><%= APP_NAME %></b>
      v<b><%= APP_VERSION %></b>
      @<%= HOSTNAME %>
  </div>
  < ! - - Jumbotron - - >
< / footer >
 -->
